body
{
    background-color:lightgrey;
}

#clock
{
    margin:20px auto 0 auto;
    position:relative;
    list-style:none;
    width:550px;
    height:600px;
	background:url("clockface.jpg");
}

#hour,#min,#sec{
 position:absolute;
    width:30px;
    height:600px;
    left:285px;
}

#hour { 
    z-index:1;
    background: url("hour.png");
}
#min {
    z-index: 2;
    background: url("min.png");
}
#sec {
    z-index: 3;
    background: url("sec.png");
}